@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

:root {
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}

.rainbow-button {
  background: linear-gradient(to right,
      hsl(var(--color-1)),
      hsl(var(--color-2)),
      hsl(var(--color-3)),
      hsl(var(--color-4)),
      hsl(var(--color-5)));
  background-size: 200% 100%;
  animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

@layer base {
  :root {
    --background: 237 100% 95%;
    --foreground: 237 5% 10%;
    --card: 237 50% 90%;
    --card-foreground: 237 5% 15%;
    --popover: 237 100% 95%;
    --popover-foreground: 237 100% 10%;
    --primary: 237 23.2% 36.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 237 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 199 30% 85%;
    --muted-foreground: 237 5% 35%;
    --accent: 199 30% 80%;
    --accent-foreground: 237 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 237 5% 90%;
    --border: 237 30% 50%;
    --input: 237 30% 26%;
    --ring: 237 23.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 237 50% 10%;
    --foreground: 237 5% 90%;
    --card: 237 50% 10%;
    --card-foreground: 237 5% 90%;
    --popover: 237 50% 5%;
    --popover-foreground: 237 5% 90%;
    --primary: 237 23.2% 36.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 237 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 199 30% 25%;
    --muted-foreground: 237 5% 60%;
    --accent: 199 30% 25%;
    --accent-foreground: 237 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 237 5% 90%;
    --border: 237 30% 26%;
    --input: 237 30% 26%;
    --ring: 237 23.2% 36.3%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}